@font-face {
    font-family: "Piazzolla";
    src: url("assets/fonts-page/Piazzolla-VariableFont_opsz,wght.ttf");
    font-style: normal;
    font-weight: normal;
}

*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --font-size--lg: 2rem;
    --font-size--md: 1.5rem;
    --font-size--sm: 1rem;
    --font-size--xs: 0.6rem;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;

    font: 16pt/1.2 "Piazzolla", serif;
}

body {
    max-width: 1000px;

    margin: 0;
    margin-block-start: 1rem;
    margin-inline: auto;
    padding: 0;
    padding-inline: 2rem;
    padding-block-end: 25vh;

    color: #333;

    scroll-behavior: smooth;
}

h1 {
    font-size: 2rem;
    text-transform: uppercase;
}

h2 {
    font-size: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
    margin-block-start: 0;
}

a {
    color: black;

    &:hover {
        text-decoration: underline;
    }
}

[data-size-options] button {
    font-family: inherit;
    font-size: inherit;
    background-color: transparent;
    border: 0;
    padding: 0;

    cursor: pointer;

    text-decoration: underline;
}

article {
    display: none;
}

article p {
    /* --font-family and --font-size is set as inline style on the font box by the fonts scripts */
    font-family: var(--font-family);
    font-size: var(--font-size);
    color: black;

    margin: 0;
    margin-block: 1rem;
    padding: 1rem 0.5rem;

    background-color: #ECECEC;
}

article:target {
    display: block;
}

/* Utilities */

.inline {
    display: inline;
}

.inline-list {
    display: flex;
    column-gap: 0.5rem;

    margin: 0;
    padding: 0;

    list-style: none;
}
