@font-face {
    font-family: "Piazzolla";
    src: url("assets/fonts-page/Piazzolla-VariableFont_opsz,wght.ttf");
    font-style: normal;
    font-weight: normal;
}

*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --font-size--lg: 2rem;
    --font-size--md: 1.5rem;
    --font-size--sm: 1rem;
    --font-size--xs: 0.6rem;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;

    font: 16pt/1.2 "Piazzolla", serif;
    font-optical-sizing: auto;
}

body {
    max-width: 1000px;

    margin: 0;
    margin-block-start: 1rem;
    margin-inline: auto;
    padding: 0;
    padding-inline: 2rem;

    background-color: #F6F6F6;
    color: #333;

    scroll-behavior: smooth;
}

h1 {
    font-size: 2rem;
    text-transform: uppercase;
}

h2 {
    font-size: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
    margin-block-start: 0;
}

a {
    color: black;

    &:hover {
        text-decoration: underline;
    }
}

fieldset {
    border: 0;
    padding: 0;

    legend {
        margin-block-end: 0.25rem;
    }
}

section + section {
    margin-block-start: 1rem;
}

footer {
    --corner-spacing: 1rem;
    --corner-spacing--half: calc(var(--corner-spacing) * 0.5);
    position: fixed;
    right: var(--corner-spacing--half);
    bottom: var(--corner-spacing--half);

    font-size: 0.75rem;

    &::before {
        position: absolute;
        content: '';
        inset: -10px;

        background-color: white;
        filter: blur(5px);
        z-index: -1;
    }
}

[data-font-not-yet-picked] {
    position: relative;
}

[data-font-not-yet-picked]::before {
    content: '';
    position: absolute;
    display: block;
    inset: 0;
    filter: blur(10px);
    z-index: -1;

    background: linear-gradient(in oklch to right, hotpink, white, hotpink);
    background-size: 200% auto;
    animation: linear 1.5s slide infinite;

    @media(prefers-reduced-motion: reduce) {
        animation: none;
    }
}

.grid {
    --grid-spacing: 1rem;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, calc(50% - var(--grid-spacing))));

    gap: var(--grid-spacing);
    margin-bottom: var(--grid-spacing);
}

.input {
    font-family: inherit;
    font-size: inherit;

    width: 100%;

    border: 1px solid #CCC;
    border-radius: 5px;
    padding-inline: 0.5rem;
}

#font-showing {
    border-block-start: 2px solid #AAA;

    padding-block: 1rem;
}

#font-showing p[data-font-showing] {
    /* --font-family and --font-size is set as inline style on the font box by the fonts scripts */
    font-family: var(--font-family);
    font-size: var(--font-size);
    color: black;

    margin: 0;
    padding: 1rem 1rem;

    border: 1px solid #EEE;
    border-radius: 15px;

    background-color: white;

    --shadow-color: 0deg 0% 75%;
    box-shadow:
        1px 1px 1.6px hsl(var(--shadow-color) / 0.34),
        2.8px 2.8px 4.5px -0.6px hsl(var(--shadow-color) / 0.34),
        5.6px 5.6px 8.9px -1.2px hsl(var(--shadow-color) / 0.34),
        11.2px 11.2px 17.8px -1.9px hsl(var(--shadow-color) / 0.34),
        21.8px 21.8px 34.7px -2.5px hsl(var(--shadow-color) / 0.34);

    word-break: break-word;
    text-wrap: pretty;
}

[data-family] {
    color: deeppink;
}

[data-font-size] {
    color: tomato;
}

[data-source] {
    font-size: 0.8rem;
}

/* Components */

.button-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.5rem;

    margin: 0;
    padding: 0;

    list-style: none;

    width: fit-content;

    & button {
        font-family: inherit;
        font-size: inherit;
        background-color: transparent;
        border: 0;
        padding: 0;

        cursor: pointer;

        text-decoration: underline;

        border-radius: 3px;

        &:hover {
            text-decoration-color: hotpink;
        }

        &:active {
            color: deeppink;
        }
    }
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.75rem;
}

/* Utilities */

.hide {
    display: none !important;
}

.margin--none {
    margin: 0;
}

.margin-block-end--small {
    margin-block-end: 0.5rem;
}

.inline {
    display: inline;
}

.block {
    display: block;
}

.font--tabular-numbers {
    font-variant-numeric: tabular-nums;
}

.small-text {
    font-size: 0.75em;
}

.fancy-text {
    color: transparent;
    text-shadow: none;

    background: linear-gradient(in oklab to right, black, deeppink 50%, black);
    background-size: 200% auto;
    -webkit-background-clip: text;
    background-clip: text;
    
    @media(prefers-reduced-motion: no-preference) {
        animation: linear 720s slide infinite;
    }
}

@keyframes slide {
    to {
        background-position: 200%;
    }
}
