*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin-block-start: 0;
}

.font-box {
    font-family: var(--font-family, "Comic Sans MS");
}