@font-face {
    font-family: "Piazzolla";
    src: url("assets/fonts-page/Piazzolla-VariableFont_opsz,wght.ttf");
    font-style: normal;
    font-weight: normal;
}

*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --font-size--lg: 2rem;
    --font-size--md: 1.5rem;
    --font-size--sm: 1rem;
    --font-size--xs: 0.6rem;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;

    font: 16pt/1.2 "Piazzolla", serif;
    font-optical-sizing: auto;
}

body {
    max-width: 1000px;

    margin: 0;
    margin-block-start: 1rem;
    margin-inline: auto;
    padding: 0;
    padding-inline: 2rem;

    color: #333;

    scroll-behavior: smooth;
}

h1 {
    font-size: 2rem;
    text-transform: uppercase;
}

h2 {
    font-size: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
    margin-block-start: 0;
}

a {
    color: black;

    &:hover {
        text-decoration: underline;
    }
}

section + section {
    margin-block-start: 1rem;
}

footer {
    --corner-spacing: 1rem;
    --corner-spacing--half: calc(var(--corner-spacing) * 0.5);
    position: absolute;
    right: var(--corner-spacing--half);
    bottom: var(--corner-spacing--half);
    padding: var(--corner-spacing--half);

    font-size: 0.75rem;

    background-color: white;
}

[data-font-not-yet-picked] {
    position: relative;
}

[data-font-not-yet-picked]::before {
    content: '';
    position: absolute;
    display: block;
    inset: 0;
    filter: blur(10px);
    z-index: -1;

    background: linear-gradient(in oklch to right, hotpink, white, hotpink);
    background-size: 200% auto;
    animation: linear 1.5s slide infinite;

    @media(prefers-reduced-motion: reduce) {
        animation: none;
    }
}

.configuration {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
}

#input-text-to-show {
    font-family: inherit;
    font-size: inherit;

    width: 100%;

    border: 1px solid #CCC;
    border-radius: 5px;
    padding-inline: 0.5rem;
}

#font-showing {
    border-block-start: 4px solid #DDD;

    padding-block: 1rem;
}

#font-showing p[data-font-showing] {
    /* --font-family and --font-size is set as inline style on the font box by the fonts scripts */
    font-family: var(--font-family);
    font-size: var(--font-size);
    color: black;

    margin: 0;
    padding-block: 1rem;
    border-block: 1px solid #BBB;

    word-break: break-all;
}

[data-family] {
    color: deeppink;
}

[data-font-size] {
    color: tomato;
}

[data-source] {
    font-size: 0.8rem;
}

/* Components */

.button-list {
    display: flex;
    column-gap: 0.5rem;

    margin: 0;
    padding: 0;

    list-style: none;

    width: fit-content;

    & button {
        font-family: inherit;
        font-size: inherit;
        background-color: transparent;
        border: 0;
        padding: 0;

        cursor: pointer;

        text-decoration: underline;

        border-radius: 3px;

        &:hover {
            text-decoration-color: hotpink;
        }

        &:active {
            color: deeppink;
        }
    }
}

/* Utilities */

.inline {
    display: inline;
}

.block {
    display: block;
}

.fancy-text {
    color: transparent;
    text-shadow: none;

    background: linear-gradient(in oklab to right, black, deeppink 50%, black);
    background-size: 200% auto;
    -webkit-background-clip: text;
    background-clip: text;
    animation: linear 720s slide infinite;
    
    @media(prefers-reduced-motion: reduce) {
        animation: none;
    }
}

@keyframes slide {
    to {
      background-position: 200%;
    }
}
